@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto';
}

.container {
    overflow-x: hidden;
}

nav {
    background: #2099D2;
    height: 90px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nav-left {
    padding-left: 40px;
    display: flex;
    align-content: center;
    align-items: center;
}

.nav-left img {
    width: 155px;
}

.nav-right {
    display: flex;
    align-content: center;
    padding-right: 40px;
    justify-content: flex-end;
    align-items: center;
}

nav .active {
    font-weight: bold;
}

.nav-right ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-right ul li:nth-child(5) {
    margin-right: 0;
}

header {
    color: white;
    /*height: 310px;*/
    height: calc(100vh - 90px);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #2099D2;
}

header .header-ins {
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    font-weight: bold;
}

header h3 {
    font-weight: normal;
    font-size: 18px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills img {
    width: 100px;
}

.skills > div {
    height: 250px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.skills > div:nth-child(1) {
    background: #EF652A; 
}

.skills > div:nth-child(2) {
    background: #1572B6; 
}

.skills > div:nth-child(3) {
    background: #E4A227; 
}

.skills > div:nth-child(4) {
    background: #539E43; 
}

.skills > div:nth-child(5) {
    background: #442D22; 
}

.skills > div:nth-child(6) {
    background: #CC6699; 
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2099D2;
    color: white;
    padding-right: 40px;
    text-transform: uppercase;
}

.about h1 {
    color: #2099D2;
    background: white;
    width: 90px;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 6px;
}

.about-info {
    display: flex;
    align-content: center;
    text-transform: none;
    align-items: center;
}

.about-img {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.about img {
    width: 175px;
    border-radius: 150px;
}

.projects {
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #2099D2;
    grid-template-columns: repeat(2, 1fr);
}

.projects > div {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.projects > div img {
    width: 350px;
    height: 230px;
}

.proj-ins {
    border: 4px solid #2099D2;
    border-radius: 1px;
    background: #2099D2;
}

.projects > div h1 {
    margin-top: 5px;
    background: #2099D2;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contacts {
    height: 270px;
    background: rgb(34, 34, 34);    
}

.contacts h1 {
    padding-left: 40px;
        color: white;
}

.contacts form {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.contacts .form-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

textarea, input, button { outline: none; }

.contacts form input {
    width: 100%;
    border: none;
    font-family: 'Roboto';
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contacts form button {
    width: 180px;
    border: none;
    font-family: 'Roboto';
    height: 40px;
    background: #2099D2;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contacts form textarea {
    width: 100%;
    padding-left: 10px;
    border: none;
    font-family: 'Roboto';
    height: 80px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    resize: none;
    padding-top: 10px;
  
}

.contacts form .form-ins {
    text-align: center;
}

footer {
    height: 40px;
    background: #2099D2;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 14px;
    padding-left: 20px;
    text-transform: uppercase;
}

.menur {
    display: none;
    text-align: right;
    right: -9px;
    position: absolute;
    margin-top: 10px;
}

.menur li {
    margin-top: 1px;
    margin-bottom: 1px;
}

nav ul img {
    width: 35px;
}

.burguer {
    display: none;
}

@media only screen and (max-width: 720px) {
    nav .items {
        display: none;
    }

    nav .burguer {
        display: block;
    }

    .projects {
        display: block;
    }

    .about h1 {
        margin-top: 5px;
    }

    .about {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .about img {
        width: 140px;
        margin-top: 40px;
    }

    .about p {
        padding-bottom: 40px;
    }
    
}

@media only screen and (max-width: 480px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .skills > div {
        height: 200px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    } 
}

@media only screen and (max-width: 320px) {
    header h1 {
        font-weight: bold;
    }
    
    header h3 {
        font-weight: normal;
        font-size: 14px;
    }

    footer span {
        font-size: 14px;
    }
}