@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: rgb(232, 232, 232);
  font-family: Arial;
  color: white;
  margin-left: 7%;
  margin-right: 7%;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
}

.alberta {
  font-size: 5em;
  color: #1976d2;
  text-transform: capitalize;
  font-family: 'Pacifico', cursive;

}

.texto {
  margin-top: 5%;
  font-size: 25px;
  text-transform: none;
  color: #273039;
}

#dito {
  font-size: 18px;
  color: #273039;
  margin-top: 2%;
  font-style: italic;
  text-transform: none;
  font-family: Arial;
}

#bola {
  margin-top: 1%;
}

footer {
  background-color: #263238;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7px 35px;
  font-family: Arial;
  color: white;
  font-size: 16px;
  text-align: left;
  height: 25px;
  text-transform: none;
  font-weight: normal;
}

span {
  background-color: #263238;
  color: #f44336;
}

.github, .github:hover, .github:visited, github:link {
  color: snow;
  text-decoration: none;
}

#preloader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('preloader.svg') center no-repeat #1976d2;
  z-index: 99999;
  position: fixed;
}
