* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: #263238;
  font-family: Arial;
  color: white;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 3%;
}

.alberta {
  font-size: 64px;
  color: #ff9800;
}

.texto {
  margin-top: 5%;
  font-size: 25px;
  color: #e3f2fd;
}

#dito {
  font-size: 18px;
  color: #e3f2fd;
  margin-top: 2%;
}
